<app-top-bar></app-top-bar>

<p class="lead" style="color: rgba(44,47,139,1);font-weight:bold ; size: 40px;font-family:Bw Modelica SS01;">Mosaic Data Verification</p>
<table    class="table table-sm table-hover table-striped">
    <thead style="background-color:rgba(44,47,139,1)">
      <tr style="color: white;" >
       
        <th  scope="col" >Policy</th>
        <th scope="col">File Name</th>
        <th scope="col">Date Received</th>
        <th scope="col">Binder</th>
        <th scope="col">Policy Doc</th>
        <th scope="col">Status</th>
        <th scope="col">Extracted Entities(Binder)</th>
        
        <th scope="col">Extracted Entities(Policy)</th>

    </tr>
    </thead>
    <tbody  >

      <tr class='clickable-row ' >
        
        <td id="id">P901234</td>
       <td>XYZ</td>
       <td>21 dec 2019</td>
       <td>Binder</td>
       <td>Policy Doc</td>
       <td>Status</td>
       
       <td>Confidence%</td>
       <td>Confidence%</td>
      
       
      

      </tr>
      
     
    </tbody>
    
  
  </table>