

<form class="form-inline my-2 my-lg-0" style="right: 0px;position: absolute; top: 90px;">
  <div class="dropdown" >
    <button class="btn dropdown-toggle" style="background-color: rgba(44,47,139,1); color: white;" type="button" id="dropdownMenuButton" *ngIf ="Role=='Approver'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Assign Task
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
      <div *ngFor="let n of Name">
      <button (click)="onAssign(n.User)" class="dropdown-item" >{{n.User}}</button>
      
      </div>
     
    </div>
  </div>
   
    
 <input class="form-control mr-sm-2" style="margin-left:10px;" type="search" placeholder="Search" aria-label="Search"  [ngModelOptions]="{standalone: true}" [(ngModel)]="term">
    
  </form>
  
  
  <br>
  <br>
<table    class="table table-sm table-hover table-striped">
    <thead style="background-color:rgba(44,47,139,1)">
      <tr style="color: white;" >
        <th  scope="col" *ngIf ="Role=='Approver'"><input  type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
        <th  scope="col" >SLA</th>
        <th scope="col">Carriers</th>
        <th scope="col">Insured Name</th>
        <th scope="col">Received Date</th>
        <th scope="col">Policy</th>
        <th scope="col">Premium</th>
        <th scope="col">Status</th>
        <th scope="col">Assigned To</th>
        <th scope="col">#Mismatched Fields</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody  >

      <tr class='clickable-row ' *ngFor ="let k of locked| filter:term,let i=index;" >
      
        <td *ngIf ="Role=='Approver'"   ><input type="checkbox" value="{{k.ID}}" [(ngModel)]="locked[i].checked"></td>
        
        <td id="id">{{k.ID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td>{{k.AuthID}}</td>
       <td><button class="btn btn-link" [routerLink]="['/verify',k.ID]">View</button></td>
       
       
      </tr>
      
     
    </tbody>
    
  
  </table>